<h1>Admin panel</h1>

<section>
  <h2>POST, DELETE and PUT for products</h2>
  <div class='accordion w-50' id='accordionExample'>
    <div class='accordion-item'>
      <h2 class='accordion-header' id='headingOne'>
        <button
          class='accordion-button collapsed'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#collapseOne'
          aria-expanded='false'
          aria-controls='collapseOne'
        >
          Create a new product
        </button>
      </h2>
      <div
        id='collapseOne'
        class='accordion-collapse collapse'
        aria-labelledby='headingOne'
        data-bs-parent='#accordionExample'
      >
        <div class='accordion-body'>
          <form id='postProductForm'>

            <div class='mb-6'>
              <label for='title' class='form-label'>Title</label>
              <input
                type='text'
                class='form-control'
                id='title'
                required='true'
              />
              <div class='form-text'>Preferentemente del formato: "Producto XX"
                siendo XX un número.</div>
            </div>

            <div class='mb-6'>
              <label for='description' class='form-label'>Description</label>
              <input
                type='text'
                class='form-control'
                id='description'
                required='true'
              />
            </div>

            <div class='mb-6'>
              <label class='form-label' for='price'>Price</label>
              <input
                type='number'
                class='form-control'
                id='price'
                required='true'
              />
            </div>

            <div class='mb-6'>
              <label class='form-label' for='stock'>Stock</label>
              <input
                type='number'
                class='form-control'
                id='stock'
                required='true'
              />
            </div>
            <div class='mb-6'>
              <label class='form-label' for='code'>Code</label>
              <input
                type='text'
                class='form-control'
                id='code'
                required='true'
              />
              <div class='form-text'>Preferentemente del formato: "AAA0XX"
                siendo XX el número anterior.</div>
            </div>

            <div class='mb-6'>
              <label class='form-label' for='category'>Category</label>
              <input
                type='text'
                class='form-control'
                id='category'
                required='true'
              />
              <div class='form-text'>Preferentemente del formato: "tipoX" siendo
                X un número entre 1 y 5.</div>
            </div>

            <div class='mb-6 form-check'>
              <label class='form-check-label' for='status'>Status</label>
              <input
                type='checkbox'
                class='form-check-input'
                id='status'
                required='true'
              />
            </div>

            <button type='submit' class='btn btn-primary'>Add product to db</button>
          </form>
        </div>
      </div>
    </div>

    <div class='accordion-item'>
      <h2 class='accordion-header' id='headingTwo'>
        <button
          class='accordion-button collapsed'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#collapseTwo'
          aria-expanded='false'
          aria-controls='collapseTwo'
        >
          Delete a product
        </button>
      </h2>
      <div
        id='collapseTwo'
        class='accordion-collapse collapse'
        aria-labelledby='headingTwo'
        data-bs-parent='#accordionExample'
      >
        <div class='accordion-body'>
          <form id='deleteProductForm'>
            <div class='mb-6'>
              <label for='productIDDel' class='form-label'>Product ID</label>
              <input
                type='text'
                class='form-control'
                id='productIDDel'
                name='productIDDel'
                required='true'
              />
            </div>
            <button type='submit' class='btn btn-primary'>Delete product</button>
          </form>
        </div>
      </div>
    </div>

    <div class='accordion-item'>
      <h2 class='accordion-header' id='headingThree'>
        <button
          class='accordion-button collapsed'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#collapseThree'
          aria-expanded='false'
          aria-controls='collapseThree'
        >
          Update a product
        </button>
      </h2>
      <div
        id='collapseThree'
        class='accordion-collapse collapse'
        aria-labelledby='headingThree'
        data-bs-parent='#accordionExample'
      >
        <div class='accordion-body'>
          <form action='/admin/update' method='get'>
            <div class='mb-6'>
              <label for='productIDPut' class='form-label'>Product ID</label>
              <input
                type='text'
                class='form-control'
                id='productIDPut'
                name='productIDPut'
                required='true'
              />
            </div>
            <button type='submit' class='btn btn-primary'>Update product</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>
<script src='/js/admin.js'></script>