<h2 id="welcomeText">Welcome to the chat!</h2>

<div>
    <p id="userName"></p>
</div>

<div>
    <input id ="messageInput" type="text">
    <button id="submitBtn" class="submitBtn">Send</button>
</div>

<div id="messagesContainer" class="messagesContainer">

</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.socket.js"></script>