<h1>Login</h1>

<form action="/api/auth/login" method="post">
  <div class="mb-6">
    <label class="form-label" for="email">E-mail</label>
    <input type="email" class="form-control" id="email" required="true" placeholder="user@example.com" name="email">
  </div>
  <div class="mb-6">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" required="true" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Log in</button>
  <div>If you don't have an account yet register <a href="/register">here</a>.</div>
</form>

