<section>
  <h1>Set your new password</h1>

  <form id='resetPasswordForm'>
    <div class='mb-6'>
      <label for='password' class='form-label'>Product Introduce you password</label>
      <input
        type='password'
        class='form-control'
        id='password'
        name='password'
        required='true'
      />

      <label for='passwordConfirm' class='form-label'>Product Confirm you
        password</label>
      <input
        type='password'
        class='form-control'
        id='passwordConfirm'
        name='passwordConfirm'
        required='true'
      />
    </div>
    <button type='submit' class='btn btn-primary'>Reset password</button>
  </form>
</section>

<script src='resetPassword.js'></script>