* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    padding: 2rem;
    width: 100%;
    background-color: lightgrey;
}

.messagesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.messageBox {
    display: flex;
    flex-direction: column;
    background-color: #DCF8C6;
    border-radius: 1rem;
    padding: .5rem 1rem;
}

.messageUser {
    padding: .5rem;
    font-size: 1.6rem;
    font-weight: bold;
}

.messageText {
    padding: .5rem;
    font-size: 1.6rem;
}

.messageDate {
    text-align: right;
    color: grey;
}

.submitBtn {
    padding: .5rem;
}